<div class="button-row mt-xl">
  <button mat-raised-button color="primary">Fonduri de investitii</button>
  <button mat-button>Fonduri straine</button>
  <button mat-button>Fonduri de pensie</button>
</div>
<h1 class="mat-h2">CHEI DE CAUTARE FONDURI</h1>
<div class="filters">
  <mat-form-field>
    <mat-select placeholder="Asset manager">
      <mat-option *ngFor="let asset of assetMangerOptions" [value]="asset.value">
        {{ asset.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-form-field>
    <mat-select placeholder="Tip fond">
      <mat-option *ngFor="let option of typeOptions" [value]="option.value">
        {{ option.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<h1 class="mat-h2">LISTA SI PERFORMANTA FONDURI</h1>
<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrare">
    </mat-form-field>
  </div>


  <mat-table #table2 [dataSource]="dataSource" matSort>
    <ng-container *ngFor="let column of columns" [matColumnDef]="column">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ column }}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row[column] }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columns;" (click)="select(row)"></mat-row>
  </mat-table>


</div>
