<div class="m-xl mat-typography">
  <h1 class="mat-h1 pb-xl">BRD ACTIUNI CLASA A</h1>


  <mat-card class="example-card mt-xl">
    <mat-card-header>
      <h2 class="mat-h2">VUAN 192.7706</h2>
    </mat-card-header>
    <mat-card-content>
      <div>
        <p class="mat-h4">+ 0.22 RON</p>
        <p class="mat-h4">+ 0.16 %</p>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card mt-xl">
    <mat-card-header>
      <h2 class="mat-h2">Rezultate la data de 28/02/2018</h2>

    </mat-card-header>
    <mat-card-content>
      <mat-grid-list cols="3" rowHeight="400px">
        <mat-grid-tile>
          <img src="assets/chart.png"/>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">

          <mat-list style="width: 400px">
            <mat-list-item>
              <div mat-line>
                <div class="two-cols-div">
                  <span>1M</span>
                  <span>0.55</span></div>
              </div>
            </mat-list-item>
            <mat-list-item>
              <div mat-line>
                <div class="two-cols-div">
                  <span>3M</span>
                  <span>5.48</span></div>
              </div>
            </mat-list-item>

            <mat-list-item>
              <div mat-line>
                <div class="two-cols-div">
                  <span>12M</span>
                  <span>17.96</span></div>
              </div>
            </mat-list-item>

            <mat-list-item>
              <div mat-line>
                <div class="two-cols-div">
                  <span>36M</span>
                  <span>32.94</span></div>
              </div>
            </mat-list-item>

            <mat-list-item>
              <div mat-line>
                <div class="two-cols-div">
                  <span>60M</span>
                  <span>54.02</span></div>
              </div>
            </mat-list-item>


            <mat-list-item>
              <div mat-line>
                <div class="two-cols-div">
                  <span>120M</span>
                  <span>N/A</span></div>
              </div>
            </mat-list-item>

            <mat-list-item>
              <div mat-line>
                <div class="two-cols-div">
                  <span>YTD</span>
                  <span>4.1</span></div>
              </div>
            </mat-list-item>

            <mat-list-item>
              <div mat-line>
                <div class="two-cols-div">
                  <span>De la lansare</span>
                  <span>92.77</span></div>
              </div>
            </mat-list-item>
          </mat-list>

        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>


  <mat-card class="example-card mt-xl">
    <mat-card-header>
      <h2 class="mat-h2">Informatii de baza</h2>
    </mat-card-header>
    <mat-card-content>
      <mat-grid-list cols="2" rowHeight="250px">
        <mat-grid-tile>
          <mat-list style="width: 500px;height: 100%;margin-right: auto;">
            <mat-list-item>
              <div mat-line>
                <div class="two-cols-div">
                  <span>Asset manager</span>
                  <span>BRD ASSET MANAGEMENT</span>
                </div>
              </div>
            </mat-list-item>
            <mat-list-item>
              <div mat-line>
                <div class="two-cols-div">
                  <span>Data lansare</span>
                  <span>19/03/2009</span>
                </div>
              </div>
            </mat-list-item>
            <mat-list-item>
              <div mat-line>
                <div class="two-cols-div">
                  <span>Ultima modificare politica</span>
                  <span>N/A</span>
                </div>
              </div>
            </mat-list-item>
            <mat-list-item>
              <div mat-line>
                <div class="two-cols-div">
                  <span>Prima subscriere</span>
                  <span>N/A</span>
                </div>
              </div>
            </mat-list-item>
            <mat-list-item>
              <div mat-line>
                <div class="two-cols-div">
                  <span>Subscriere ulterioara</span>
                  <span>N/A</span>
                </div>
              </div>
            </mat-list-item>
            <mat-list-item>
              <div mat-line>
                <div class="two-cols-div">
                  <span>Valuta</span>
                  <span>RON</span>
                </div>
              </div>
            </mat-list-item>
            <mat-list-item>
              <div mat-line>
                <div class="two-cols-div">
                  <span>VAN</span>
                  <span>39.33 Mio RON</span>
                </div>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-list style="width: 500px;height: 100%;margin-right: auto;">
            <mat-list-item>
              <div mat-line>
                <div class="two-cols-div">
                  <span>Segment</span>
                  <span>ACTIUNI</span>
                </div>
              </div>
            </mat-list-item>
            <mat-list-item>
              <div mat-line>
                <div class="two-cols-div">
                  <span>Grup</span>
                  <span></span>
                </div>
              </div>
            </mat-list-item>
            <mat-list-item>
              <div mat-line>
                <div class="two-cols-div">
                  <span>Geografie</span>
                  <span>CEE</span>
                </div>
              </div>
            </mat-list-item>
            <mat-list-item>
              <div mat-line>
                <div class="two-cols-div">
                  <span>Benchmark</span>
                  <span></span>
                </div>
              </div>
            </mat-list-item>
            <mat-list-item>
              <div mat-line>
                <div class="two-cols-div">
                  <span>Politica</span>
                  <span></span>
                </div>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card mt-xl">
    <mat-card-header>
      <h2 class="mat-h2">Structura de alocare</h2>
    </mat-card-header>
    <mat-card-content>
      <mat-list style="width: 500px;height: 100%;margin-right: auto;">
        <mat-list-item>
          <div mat-line>
            <div class="two-cols-div">
              <span>Actiuni Romania</span>
              <span>76.40%</span>
            </div>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div mat-line>
            <div class="two-cols-div">
              <span>Actiuni CEE</span>
              <span>8.18%</span>
            </div>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div mat-line>
            <div class="two-cols-div">
              <span>Titluri de stat</span>
              <span>4.80%</span>
            </div>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div mat-line>
            <div class="two-cols-div">
              <span>Piata monetara</span>
              <span>10.61%</span>
            </div>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card mt-xl">
    <mat-card-header>
      <h2 class="mat-h2">Taxe</h2>
    </mat-card-header>
    <mat-card-content>
      <mat-list style="width: 500px;height: 100%;margin-right: auto;">
        <mat-list-item>
          <div mat-line>
            <div class="two-cols-div">
              <span>Comision subscriere</span>
              <span>0%</span>
            </div>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div mat-line>
            <div class="two-cols-div">
              <span>Comision rascumparare</span>
              <span>0%</span>
            </div>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div mat-line>
            <div class="two-cols-div">
              <span>Comision de administrare</span>
              <span>1.80%</span>
            </div>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div mat-line>
            <div class="two-cols-div">
              <span>TER</span>
              <span>2.25%</span>
            </div>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
<!--<chart [type]="type" [data]="data" [options]="options"></chart>-->
